# **Primer Avance PIA**
Equipo 1

Grupo 002 Miércoles 7-10 PM

Integrantes:


*   1851448 Muñoz Barrientos Regina
*   1941592 Lagos Martinez José Alejandro
*   1793775 Rodriguez Guerrero Luisa Victoria
*   1849202 Dominguez Victorino Cesar Oswaldo


**BASE DE DATOS: Heart Disease UCI**

https://www.kaggle.com/ronitf/heart-disease-uci

 **Introducción.**

El corazón es uno de los órganos más importantes ya que bombea sangre y suministra oxígeno y nutrientes a todo el cuerpo. Como cumple con estas funciones tan cruciales su bienestar es de suma importancia. En las Américas, se estima que 1.9 millones de personas fallecen al año por enfermedades cardiovasculares y muchas de ellas sin ser diagnosticadas o tratadas. Una herramienta que explore datos sobre la salud de un paciente y datos sobre su corazón podría ayudar a reducir el tiempo en el que a éste se le brinde un diagnóstico y así iniciar tratamiento correspondiente lo más pronto posible, incrementando sus posibilidades de recuperación e incluso prevenir la muerte.

**Descripción de los datos.**

Se cuenta con una base de datos de tipo .csv con 303 filas, cada fila contiene información real por paciente y contiene 14 columnas, las columnas son las siguientes:

*   **age:**  La edad del paciente en años.
*   **sex:** El sexo del paciente siendo 1 = hombre y  0 = mujer.
*   **cp:** el tipo de dolor en el pecho que experimenta el paciente: (Valor 1: angina típica, Valor 2: angina atípica, Valor 3: dolor no anginoso, Valor 4: asintomático).
*   **trestbps:** La presión sanguínea en mmHg tomada al momento de admisión al hospital.
*   **chol:** La medida de colesterol en mg/dl
*   **fbs:** “Fasting Blood Sugar” es decir el nivel de azúcar en la sangre de la persona en ayunas, si es mayor de 120 mg/dl se le asigna el valor de 1, de lo contrario se le asigna el valor de 0 (> 120 mg/dl, 1 = true; 0 = false).
*   **restecg:** Medición electrocardiográfica en reposo (0 = normal, 1 = con anomalía de la onda ST-T, 2 = muestra una probable o definitiva hipertrofia ventricular izquierda según los criterios de Estes)
*   **thalach:** El ritmo cardíaco máximo alcanzado por el paciente en latidos por minuto.
*   **exang:** Angina de pecho por ejercicio (1 = si se tiene el sintoma; 0 = no se tiene)
*   **oldpeak:** Depresión del ST inducida por el ejercicio en relación con el reposo.
*   **slope:** la pendiente del pico del segmento ST de ejercicio (Valor 1: pendiente ascendente, Valor 2: plano, Valor 3: pendiente descendente)
*   **ca:** El número de vasos principales (0-3)
*   **thal:** Un trastorno sanguíneo llamado talasemia (1 = normal; 2 = defecto fijo; 3 = defecto reversible)
*   **target:** El paciente tiene una enfermedad del corazón  (0 = no, 1 = si)

**Justificación del uso de datos.**

Debido a que en México y en el mundo, la cantidad de personas que fallecen gracias a una enfermedad del corazón es enorme, por lo que, hacer uso de datos para crear un plan de prevención es importante.
Dentro de la base de datos se encuentra información que es útil en la busca de la prevención y trata de dichas enfermedades de corazón, como lo son la edad del paciente, el tipo de dolor de pecho, la presión sanguínea al momento de presentar dolor, si se pudo o no tratar la enfermedad presentada en un paciente, entre otros aspectos importantes. Además de esto, otro factor favorable que se notó al hacer uso de estos datos, es la importancia que tiene cada uno de ellos hacia el proyecto, su fácil entendimiento y manipulación,  y a su vez el impacto favorable que tendrá para el cumplimiento del objetivo principal.

Una gran oportunidad para crear un método de contingencia en caso de que un paciente presente alguno de estos síntomas junto con sus características, debido a la complejidad de diagnóstico de una enfermedad cardiaca cada dato presentado es importante en la contribución de la resolución del problema planteado. Como ya fue mencionado, debido al entendimiento que se logró de cada columna de datos, podemos manejarlos de una forma eficiente y que cumpla con lo que se busca lograr.

**Objetivo final.**
Identificar diagnóstico sobre enfermedad de corazón según los resultados de los exámenes y datos biométricos del paciente.

**Preguntas de interés.**

¿Cuál es el dato que más influye al momento de realizar un diagnóstico donde se presenta una enfermedad del corazón?

¿Existen casos donde un paciente presente alarmantes indicadores de mala salud (azúcar alta, presión muy alta o muy baja, entre otros), pero no se diagnostique una enfermedad del corazón?

¿Hay un motivo por el cual algún grupo de edad o sexo sea más propenso a presentar problemas cardiacos?

**Programación.**

Primero se muestra la base de datos original.

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv("heart.csv")
df = pd.read_csv("heart.csv",encoding='utf8')
df.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

El primer cambio que se realizó fue renombrar las columnas para un entendimiento más claro.

In [ ]:
df.columns = ['Edad','Sexo','DolorPecho','PresArtRep','Col','NivAzuAyu','Electro','MaxRitCard','Angina','MinElectro','Pendiente','NumVasSang','thal','Objetivo']
df.head()

   Edad  Sexo  DolorPecho  PresArtRep  ...  Pendiente  NumVasSang  thal  Objetivo
0    63     1           3         145  ...          0           0     1         1
1    37     1           2         130  ...          0           0     2         1
2    41     0           1         130  ...          2           0     2         1
3    56     1           1         120  ...          2           0     2         1
4    57     0           0         120  ...          2           0     2         1

[5 rows x 14 columns]

Después se escaneó la base de datos en busca de datos nulos y se descubrio que no existía ninguno.

In [ ]:
df.isnull().sum()

Edad          0
Sexo          0
DolorPecho    0
PresArtRep    0
Col           0
NivAzuAyu     0
Electro       0
MaxRitCard    0
Angina        0
MinElectro    0
Pendiente     0
NumVasSang    0
thal          0
Objetivo      0
dtype: int64

Sin embargo, se descubrieron algunas inconformidades entre los datos y la explicacion ofrecida en la publicación, por lo que se investigó y se encontró que los datos fueron obtenidos de las bases de datos del hospital de Cleveland y comparando estas dos bases se descubrió que si existían datos nulos en la original y en la utilizada habían sido llenados con otros valores por lo que se decidió eliminar las filas que contenían estos datos nulos.

Esta información se consiguió en este foro de discusión: [https://www.kaggle.com/ronitf/heart-disease-uci/discussion/105877](https://www.kaggle.com/ronitf/heart-disease-uci/discussion/105877)

In [ ]:
df1=df.drop(df[df['NumVasSang'] == 4].index)
df1=df1.drop(df1[df1['thal'] == 0].index)

Se consideró que todas las columnas serán de utilidad por lo que no se eliminó ninguna. Y por último se descargó el archivo limpiado.

In [ ]:
df1.to_csv("/content/HeartLimpio.csv",index=False)

**BASE DE DATOS: Instagram fake and real accounts dataset**

https://www.kaggle.com/rezaunderfit/instagram-fake-and-real-accounts-dataset

**Introducción.**

Instagram es una aplicación y red social que permite a los usuarios subir imágenes y videos para la misma plataforma o para subirla a otras redes. La plataforma cuenta con más de 1000 millones de usuarios y se ubica en el sexto lugar del ranking de las redes sociales más famosas del mundo. Se ha logrado posicionar como favorita sobre todo entre los adolescentes. En una aplicación de tanta popularidad y con tantos usuarios existe la posibilidad de ver cuentas falsas y cuentas bots, es decir cuentas generadas en masa por una computadora que no son personas reales y cuentas de suplantación de identidad o con imágenes de otras personas sin su consentimiento. Los propósitos de las cuentas falsas o como se les llama comúnmente “cuentas fake” se encuentran entre generar daño o acosar a una persona concreta, dañar a la comunidad social en general e incluso para ganar seguidores rápidamente haciendo que las cuentas fake sigan a una misma persona. Una herramienta que ayude a identificar cuentas falsas podría ser útil para prevenir un desvío en el algoritmo de recomendación de la aplicación, además de proteger a los usuarios reales de algún tipo de acoso o situación que atente contra su seguridad. 

**Descripción de los datos.**

La base de datos cuenta con la información de 785 cuentas de Instagram y 13 columnas las cuales son:


*   **Edge_followed_by:** Cantidad que expresa la razón de las cuentas que siguen a la cuenta.
*   **Edge_follow:** Cantidad que expresa la razón de cuentas seguidas por la cuenta.
*   **Username_length:** Número entero que dice cuantos caracteres tiene el usuario de la cuenta.
*   **Username_has_number:** Dato dictado en 0 y 1, donde 0 sería falso y 1 verdadero a la afirmación: “El username tiene números”.
*   **Full_name_has_number:** Dato dictado en 0 y 1, donde 0 sería falso y 1 verdadero a la afirmación: “El nombre de la cuenta tiene números”.
*   **Full_name_length:** Número entero que dice cuantos caracteres tiene el nombre de la cuenta. 
*   **Is_private:** Dato dictado en 0 y 1, donde 0 sería falso y 1 verdadero a la afirmación: “La cuenta es privada”.
*   **Is_joined_recently:** Dato dictado en 0 y 1, donde 0 sería falso y 1 verdadero a la afirmación: “La cuenta se creó recientemente (hace menos de 6 meses)”. 
*   **Has_channel:** Dato dictado en 0 y 1, donde 0 sería falso y 1 verdadero a la afirmación: “La cuenta tiene un canal asociado”. 
*   **Is_business_account:** Dato dictado en 0 y 1, donde 0 sería falso y 1 verdadero a la afirmación: “La cuenta está registrada como cuenta de negocios”.
*   **Has_guides:** Dato dictado en 0 y 1, donde 0 sería falso y 1 verdadero a la afirmación: “La cuenta tiene guías”. 
*   **Has_external_url:** Dato dictado en 0 y 1, donde 0 sería falso y 1 verdadero a la afirmación: “La cuenta tiene un url externo asociado”. 
*   **Is_fake:** Dato dictado en 0 y 1, donde 0 sería falso y 1 verdadero a la afirmación: “La cuenta es falsa”. 

**Justificación del uso de datos.**

Las cuentas falsas o “bots” en instagram se ha vuelto un grave problema ultimamente, pues al inflar cuentas reales haciendo uso de estas cuentas hace que el algoritmo de orden de publicaciones que se muestran a un usuario no funcione como debería, además de que muchas veces se usan estas cuentas para bombardear usuarios haciendo que tengan que eliminar su cuenta y abrir una nueva perdiendo sus seguidores. 
Esta base contiene los datos necesarios para encontrar un patrón en las características de estas cuentas así al compararlas con cuentas reales sea fácilmente discernirlas.
Trabajando con estos datos se puede crear un forma más rápida de encontrar y reportar este tipo de cuentas para así poco a poco ir depurando la plataforma de las cuentas “bots”.

**Objetivo final.**

Identificar si una cuenta de Instagram es falsa con base en un patrón determinado a partir de las características de la base de datos de cuentas falsas.

**Preguntas de interés.**

¿Hay cuentas falsas que son privadas?

¿Existen características de una cuenta que influyen, independientemente del contenido que suban, en la cantidad de seguidores que pueden tener?

**Programacion.**

Primero se muestra la base de datos original.

In [2]:
import pandas as pd
import numpy as np
import json 
dfo = pd.read_csv("FakeAndRealAccounts.csv")
dfo = pd.read_csv("FakeAndRealAccounts.csv",encoding='utf8')
dfo.head()

   edge_followed_by  edge_follow  ...  has_external_url  is_fake
0             0.001        0.257  ...                 0        1
1             0.000        0.958  ...                 0        1
2             0.000        0.253  ...                 0        1
3             0.000        0.977  ...                 0        1
4             0.000        0.321  ...                 0        1

[5 rows x 13 columns]

No se cambió el nombre de ninguna columna pues se consideran claros. Se considero que todas las columnas brindan información relevante para el problema.

Después se escaneó la base de datos en busca de datos nulos y se descubrió que no existía ninguno.

In [3]:
 dfo.isnull().sum()

edge_followed_by        0
edge_follow             0
username_length         0
username_has_number     0
full_name_has_number    0
full_name_length        0
is_private              0
is_joined_recently      0
has_channel             0
is_business_account     0
has_guides              0
has_external_url        0
is_fake                 0
dtype: int64

Se creó una base de datos solo con las cuentas que resultaron ser falsas

In [4]:
fake=dfo[dfo['is_fake']==1]

Al final, se descargó el archivo con las cuentas falsas. Debido a que no se hizo algún tipo de modificación, la base de datos original queda sin cambios.

---

In [5]:
fake.to_csv("FakeAccounts.csv",index=False)