# **Ejercicio 1**

In [39]:
Nombre = input("Introduce tu nombre: ")
Matricula = input("Introduce tu matricula: ")
print(Nombre,Matricula)

Introduce tu nombre: Cesar
Introduce tu matricula: 1849202
Cesar 1849202

# **Ejercicio 2**

In [40]:
a = float(input("Ingresa primer numero: "))
b = float(input("Ingresa segundo numero: "))
suma = a + b
resta = a - b
multi = a*b
div = a/b
exp = a**b
print(suma,resta,multi,div,exp)

Ingresa primer numero: 3
Ingresa segundo numero: 5
8.0 -2.0 15.0 0.6 243.0

# **Ejercicio 3**

In [42]:
suma = 0
lista = []
for i in range(1,11):
  mult = i*3 
  lista.append(mult)
  suma += mult
print(lista)
print("La suma de los numeros es:",suma)

suma2=0
for i in lista:
  suma2 += i
print("La suma de los numeros dentro de la lista es:",suma2)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
La suma de los numeros es: 165
La suma de los numeros dentro de la lista es: 165

# **Ejercicio 4**

In [36]:
#Con una función de if else, revisar si un número es par o es impar. Con una función de if else, revisar si un número es primo o no.
x = int(input("Ingresa numero para verificar si es par o impar: "))
y = int(input("Ingresa numero para verificar si es primo o no primo: "))
if x%2 == 0:
  print("Es numero par")
else:
  print("Es numero impar")

for i in range(2,y):
  if y%i == 0 or y == 1:
    p=0
    break
  else:
    p=1
if p==1 or y==2:
  print("Es primo")
else:
  print("No es primo")

Ingresa numero para verificar si es par o impar: 2
Ingresa numero para verificar si es primo o no primo: 1
Es numero par
Es primo

# **Ejercicio 5**

In [231]:
class Calcu():
    def __init__(self,a,b):
        self.a=a
        self.b=b
    def suma(self):
        return self.a+self.b
    def resta(self):
        return self.a-self.b
    def mult(self):
        return self.a*self.b
    def div(self):
        return self.a/self.b
    def exp(self):
        return self.a**self.b
a=int(input("Escribir primer numero: "))
b=int(input("Escribir segundo numero: "))
op = Calcu(a,b)
print("SUMA=0, RESTA=1, MULTI=2, DIVIS=3, EXPO=4")
num = int(input("Eliga operacion por hacer: "))
if num == 0:
  print(op.suma())
elif num == 1:
  print(op.resta())
elif num == 2:
  print(op.mult())
elif num == 3:
  print(op.div())
elif num == 4:
  print(op.exp())
else:
  print("Error")

Escribir primer numero: 2
Escribir segundo numero: 3
SUMA=0, RESTA=1, MULTI=2, DIVIS=3, EXPO=4
Eliga operacion por hacer: 4
8

# **Tuplas**

In [22]:
#Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.
a1 = 19
a2 = 7.5
a3 = False
a4 = 3j + 2
print("La variable es:",type(a1))
print("La variable es:",type(a2))
print("La variable es:",type(a3))
print("La variable es:",type(a4))

La variable es: <class 'int'>
La variable es: <class 'float'>
La variable es: <class 'bool'>
La variable es: <class 'complex'>

In [44]:
#Crear una tupla con valores enteros imprimir el primer y ultimo valor.
tup = (9,4,2,3,8)
print("El primer valor de la tupla es:",tup[0])
print("El ultimo valor de la tupla es:",tup[4])

El primer valor de la tupla es: 9
El ultimo valor de la tupla es: 8

In [45]:
#Añadir 3 valores de string a la tupla.
tup = tup.__add__(("Manzana","Pera","Naranja"))

In [76]:
#Verificar si una variable existe dentro de la tupla.
print("Manzana esta en la tupla:","Manzana" in tup)
print("6 esta en la tupla:",6 in tup)

Manzana esta en la tupla: True
6 esta en la tupla: False

# **Listas**

In [237]:
#Crear una lista con 40 elementos aleatorios enteros.
import random as r
list1 = []
for i in range(0,40):
  list1.append(r.randint(1,10000))

print(list1)

[4831, 5236, 9539, 7879, 9384, 8503, 9996, 6711, 2131, 2782, 6128, 4825, 7828, 5466, 8830, 4795, 1911, 4189, 401, 3623, 6067, 2190, 5449, 1447, 1922, 6652, 3160, 6090, 83, 7127, 4465, 6612, 7615, 5163, 5357, 9160, 1176, 4974, 6063, 2559]

In [238]:
def ParImpar(list_fun):
  list2=list()
  list3=list()
  for i in range(0,len(list_fun)):
    if list_fun[i]%2==0:
      list2.append(list_fun[i])
    else:
      list3.append(list_fun[i])
  return((list2),(list3))

PoI=ParImpar(list1)
print("Lista de pares:",PoI[0])
print("Lista de impares:",PoI[1])

Lista de pares: [5236, 9384, 9996, 2782, 6128, 7828, 5466, 8830, 2190, 1922, 6652, 3160, 6090, 6612, 9160, 1176, 4974]
Lista de impares: [4831, 9539, 7879, 8503, 6711, 2131, 4825, 4795, 1911, 4189, 401, 3623, 6067, 5449, 1447, 83, 7127, 4465, 7615, 5163, 5357, 6063, 2559]

In [239]:
#Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.
len1 = len(PoI[0])
len2 = len(PoI[1])
print("Cantidad de numeros en la lista de impares:",len1)
print("Cantidad de numeros en la lista de pares:",len2)

Cantidad de numeros en la lista de impares: 17
Cantidad de numeros en la lista de pares: 23

In [240]:
#Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.
PoI[0].sort(reverse=True)
PoI[1].sort

print("Mayor a menor:",PoI[0])
print("Menor a mayor:",PoI[1])

Mayor a menor: [9996, 9384, 9160, 8830, 7828, 6652, 6612, 6128, 6090, 5466, 5236, 4974, 3160, 2782, 2190, 1922, 1176]
Menor a mayor: [4831, 9539, 7879, 8503, 6711, 2131, 4825, 4795, 1911, 4189, 401, 3623, 6067, 5449, 1447, 83, 7127, 4465, 7615, 5163, 5357, 6063, 2559]

In [198]:
#Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.
listpop = list1.pop()
print("El ultimo elemento borrado de la lista es:",listpop)
listext = list1.extend([listpop])
print("Lista con el ultimo numero regresado:",list1)
list1.insert(4,6)
print("Numero agregado en el lugar 5",list1)
list1.remove(6)
print("Lista eliminando el numero recientemente agregado",list1)

El ultimo elemento borrado de la lista es: 9127
Lista con el ultimo numero regresado: [7750, 2835, 1879, 5235, 8712, 4764, 5882, 9952, 9344, 6703, 2287, 6159, 4241, 3802, 5786, 8856, 4308, 4063, 5485, 7000, 6258, 6087, 2735, 4892, 9570, 5932, 7869, 8981, 3979, 4435, 5239, 5273, 1666, 1467, 9390, 5060, 261, 886, 3289, 9127]
Numero agregado en el lugar 5 [7750, 2835, 1879, 5235, 6, 8712, 4764, 5882, 9952, 9344, 6703, 2287, 6159, 4241, 3802, 5786, 8856, 4308, 4063, 5485, 7000, 6258, 6087, 2735, 4892, 9570, 5932, 7869, 8981, 3979, 4435, 5239, 5273, 1666, 1467, 9390, 5060, 261, 886, 3289, 9127]
Lista eliminando el numero recientemente agregado [7750, 2835, 1879, 5235, 8712, 4764, 5882, 9952, 9344, 6703, 2287, 6159, 4241, 3802, 5786, 8856, 4308, 4063, 5485, 7000, 6258, 6087, 2735, 4892, 9570, 5932, 7869, 8981, 3979, 4435, 5239, 5273, 1666, 1467, 9390, 5060, 261, 886, 3289, 9127]

# **Diccionarios**

In [188]:
#Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.
dicc1 = {"Andrea":22,"Veronica":46,"Cesar":50,"Mauricio":16,"Oswaldo":20,"Juan":35}
print(dicc1)

{'Andrea': 22, 'Veronica': 46, 'Cesar': 50, 'Mauricio': 16, 'Oswaldo': 20, 'Juan': 35}

In [189]:
#Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.
listdicc = list(dicc1.values())
listdicc.sort(reverse=True)
print(listdicc)

[50, 46, 35, 22, 20, 16]

In [190]:
#Usando el diccionario y un loop, imprimir solo los nombres.
for i in dicc1:
  print(i)

Andrea
Veronica
Cesar
Mauricio
Oswaldo
Juan

In [197]:
#Añadir dos personas nuevas a tu diccionario, incluyendo edad.
dicc1["Pedro"]=28
dicc1["Leo"]=19
print(dicc1)

{'Andrea': 22, 'Veronica': 46, 'Cesar': 50, 'Mauricio': 16, 'Oswaldo': 20, 'Juan': 35, 'Pedro': 28, 'Leo': 19}

# **Sets**

In [211]:
#Crea un set con 100 numeros aleatorios enteros del 1 al 25.
import random as r
lista=[]
for i in range(0,100):
  lista.append(r.randint(1,25))
set1 = set(lista)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}

In [204]:
len(set1)

25

In [222]:
#Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.
import random as r
lista2=[]
for i in range(0,5):
  lista2.append(r.randint(1,10))
print(lista2)

for i in range(0,5):
  if lista2[i] in set1:
    print("Si esta el numero")

[2, 9, 7, 1, 5]
Si esta el numero
Si esta el numero
Si esta el numero
Si esta el numero
Si esta el numero